blinker==1.4
requirements-parser==0.2.0
packaging==17.1
lxml==4.3.4
python-magic==0.4.15
click==7.0
simplejson==3.17.0
colorama==0.3.9
python-dateutil==2.7.3
requests==2.22.0
responses==0.10.12
GitPython==3.1.0
pytest==5.3.2
pytest-cov==2.8.1
jsonschema==3.2.0
prettyprinter==0.18.0
jinja2==2.11.1
pytest-randomly==3.3.1
tqdm==4.46.0
pytz==2019.3

#Extras
defusedxml==0.6.0
# Graph exploration
networkx==2.4
cssselect==1.1.0
